.start-screen {
    -fx-background-image: url('../images/start-screen.png');
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.btn-brown {
    -fx-background-color: #633524;
    -fx-text-fill: white;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-border-color: #38190d;
    -fx-border-radius: 30;
    -fx-border-width: 3;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.btn-brown:hover {
    -fx-background-color: #824933;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.btn-brown:focused {
    -fx-background-color: #633524;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-color: #38190d;
}

.btn-brown:pressed {
    -fx-background-color: #4a2619;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-translate-y: 2px;
}
